.mi-componente {
    width: 20px;
    height: 50px;
    
    /* Estilos adicionales que desees aplicar */
  }

.rect{
  background-color: azure;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
}